.menu-mobile {
  position: fixed;
  padding: 20px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 1000;
  transform-origin: 5px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
            background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
            opacity 0.55s ease;


  @media (min-width: 481px) {
    left: auto;
    right: 0;
    width: 400px;
    max-width: 100vw;
  }

  @media (max-width: 480px) {
    width: 100vw;
    max-width: 100vw;
  }

  .menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #F2F2F2;

    .logo-mobile {
      width: 150px;
      height: auto;
    }

    div {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
    }
  }
  
  .menu-content {
    text-align: center;
    margin-left: 20px;

    .logo-mobile {
      margin-bottom: 20px;
    }

    .menu-items {
      list-style-type: none;
      padding: 0;

      li {
        margin: 15px 0;

        a {
          color: #fff;
          text-decoration: none;
          font-size: 1.2rem;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .donate {
    margin-top: 20px;
    width: 70%;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  .wrapper-donate-button {
    position: fixed;
    top: 85%;
    right: -15px;
    width: 100%;
    border-top: #ECECEC 1px solid;
    padding-left: 17px;
  }
}